

/* navbarformated */

.navbar{
    margin-left: -2%;
    margin-right:-2%;
    }

.dcname {
        color: whitesmoke;
        text-align: left;
        font-family: 'Bitter', serif;
        background-color: teal;
        
    }

    main {
    background-color: white;
    float: left;
    max-width: 75%;
    margin-left: 40px;
    margin-top: 30px;

}

main h1 {
    color: teal;
}

main img {
    float: left;
}

main section p {
    margin-left: 10px;
    font-family:'Bitter', serif;
    text-align: justify;
    font-weight: 100;
}

/* font-family: 'Bitter', serif; h1s
font-family: 'Oswald', sans-serif; navbar and general text
this will be my fonts*/