

/* navbarformated */

.navbar{
    margin-left: -2%;
    margin-right:-2%;
    }

.dcname {
        color: whitesmoke;
        text-align: left;
        font-family: 'Bitter', serif;
        background-color: teal;
        margin-left: 30px;
    }
main {
    background-color: white;
    position: fixed;
    float: left;

}

main h1 {
    color: teal;
}

main img {
    float: left;
}
/* font-family: 'Bitter', serif; h1s
font-family: 'Oswald', sans-serif; navbar and general text
this will be my fonts*/