header {
    background-color: rgb(59, 173, 149) ;   
    }

h1 {
    color: white;
    text-align: auto;
    font-family: 'Bitter', serif;
}

body {

    background-image: image(images/background-light.jpeg);
}

/* font-family: 'Bitter', serif; h1s
font-family: 'Oswald', sans-serif; navbar and general text
this will be my fonts*/